<?xml version="1.0" encoding="UTF-8"?>
<config>  
    <detector>
        <image pv="image1:ArrayData"/>
        <n_pixels>487 195</n_pixels>
        <image_total pv="Stats5:Total_RBV"/>
        <image_max pv="Stats5:MaxValue_RBV"/>
        <pixel_direction_1>z-</pixel_direction_1>
        <pixel_direction_2>x-</pixel_direction_2>
        <center_channel_pixel>252 107</center_channel_pixel>
        <size unit="mm">83.764 33.54</size>
        <distance unit="mm">900.644</distance>
    </detector>

    <rois>
        <roi number="1">
            <min_x pv="ROI1:MinX"/>
            <size_x pv="ROI1:SizeX"/>
            <min_y pv="ROI1:MinY"/>
            <size_y pv="ROI1:SizeY"/>
            <total pv="Stats1:Total_RBV"/>
        </roi>
        <roi number="2">
            <min_x pv="ROI2:MinX"/>
            <size_x pv="ROI2:SizeX"/>
            <min_y pv="ROI2:MinY"/>
            <size_y pv="ROI2:SizeY"/>
            <total pv="Stats2:Total_RBV"/>
        </roi>
        <roi number="3">
            <min_x pv="ROI3:MinX"/>
            <size_x pv="ROI3:SizeX"/>
            <min_y pv="ROI3:MinY"/>
            <size_y pv="ROI3:SizeY"/>
            <total pv="Stats3:Total_RBV"/>
        </roi>
        <roi number="4">
            <min_x pv="ROI4:MinX"/>
            <size_x pv="ROI4:SizeX"/>
            <min_y pv="ROI4:MinY"/>
            <size_y pv="ROI4:SizeY"/>
            <total pv="Stats4:Total_RBV"/>
        </roi>
    </rois>

    
    <instrument>
        <sample_circles>
            <circle_axis number="1" spec_motor_name="Mu" direction_axis="x+" pv="6idb1:m28.RBV"/>
            <circle_axis number="2" spec_motor_name="Eta" direction_axis="z-" pv="6idb1:m17.RBV"/>
            <circle_axis number="3" spec_motor_name="Chi" direction_axis="y+" pv="6idb1:m19.RBV"/>
            <circle_axis number="4" spec_motor_name="Phi" direction_axis="z-" pv="6idb1:m20.RBV"/>
        </sample_circles>
        <detector_circles>
            <circle_axis number="1" spec_motor_name="Nu" direction_axis="x+" pv="6idb1:m29.RBV"/>
            <circle_axis number="2" spec_motor_name="Delta" direction_axis="z-" pv="6idb1:m18.RBV"/>
        </detector_circles>
        <primary_beam_direction>
            <axis number="1">0</axis>
            <axis number="2">1</axis>
            <axis number="3">0</axis>
        </primary_beam_direction>
        <inplane_reference_direction>
            <axis number="1">0</axis>
            <axis number="2">1</axis>
            <axis number="3">0</axis>
        </inplane_reference_direction>
        <sample_surface_normal_direction>
            <axis number="1">0</axis>
            <axis number="2">0</axis>
            <axis number="3">1</axis>
        </sample_surface_normal_direction>
        <ub_matrix pv="6idb:spec:UB_matrix"/>
    </instrument>

    <energy pv="6idb:spec:Energy"/>
</config>